body,p,h1,h1 {
        margin: 0px;
}
ul, li {margin-left: 0px; padding-left: 0;}

body {
    font-family: Helvetica,sans-serif;
    width: 100%;
    background-color: #1B1B1B;
    font-size: 14px;
    color: white;
}

h1, h2{
    margin: 5px 0;
}

h1 {
    font-size: 36px;
    color: #ff4532;
}

h2::before {
    font-weight: normal;
    content: '#';
    position: absolute;
    color: #ff4532;
    padding-top: 0.1em;
    transform: translateX(-1em);
}

a{
    color: #dc7f7f;
}
a:hover {
    color: #FFFC8B;
}

.green{
    color: #43ffe5;
}

.green:hover {
    font-weight: bold;
}

b {
    color: #ff4532;
}

ul {
    list-style: none;
    line-height: 1.5em;
}
ul li::before {
    content: '-';
    color: #ff4532;
    position: absolute;
    transform: translateX(-1em);
}
ul .indent {
    margin-left: 2em;
}


.topbar {
    padding: 20px 60px;
    background-color: #1B1B1B;
    border-bottom: 1px solid;
}

.descri {
    margin: 0;
    color: #eee;
    font-size: 0.8em;
}

.section {
    padding: 16px 60px;
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 30px;
    }
    .topbar {
        padding: 20px 40px;
    }
    .section {
        padding: 16px 40px;
    }
}